/*Es el CSS de la Ventana Home*/

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vh;
  background: linear-gradient(135deg, #1db954, #191414);
  color: white;
  text-align: center;
}

.home-container h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.home-button {
  background-color: #1db954;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.home-button:hover {
  background-color: #14833b;
}

.spotify-logo {
  width: 100px;
  height: auto;
  margin-bottom: 20px;
}
