.electronic-artists-container {
    padding: 20px;
    background-color: #f4f4f4;
  }
  
  .artist-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .navigation-buttons {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  .navigation-buttons button {
    background-color: #1db954;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 10px 15px;
    font-size: 1rem;
    cursor: pointer;
    margin: 0 10px;
    transition: background-color 0.3s ease;
  }
  
  .navigation-buttons button:hover {
    background-color: #14833b;
  }
  
  .navigation-buttons button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
  }
  