/* global.css */

/* Variables de color */
:root {
    --primary-color: #61dafb;
    --secondary-color: #282c34;
    --text-color: #ffffff;
    --button-hover-color: #4ba0d6;
    --disabled-button-color: #444444;
  }
  
  /* Estilos generales */
  body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--secondary-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
  }
  
  button {
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
  }
  
  button:hover {
    background-color: var(--button-hover-color);
  }
  
  button:disabled {
    background-color: var(--disabled-button-color);
    cursor: not-allowed;
  }
  
  h1, h2, h3 {
    color: var(--primary-color);
  }
  
  /* Otros estilos globales */
  a {
    color: var(--primary-color);
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  